@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Hello @ViewBag.username!</h1>

<a asp-controller="Spa">View your spa selections.</a>

<ul>
    <li>@ViewBag.email</li>
    <li>@ViewBag.dateJoined</li>
</ul>